<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-us">
    <base href="{global.baseUrl" />
    <title>{head.title} | {global.appName}</title>
    <meta name="descrition" content="{head.description}">
    <link type="image/x-icon" rel="icon" href="favicon.ico">
    <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
    <link rel="stylesheet" type="text/css" href="public/app.css" />
  </head>
  <body class="{body.class}">
    <!-- page wrapper -->
    <div class="wrapper">
      <header>
        <a class="logo" href="/"></a>
        <nav>
          <ul>
            <a href="/">Home</a>
            <a class="logged-out" href="/">Signup</a>
            <a class="logged-out" href="/">Login</a>
            <a class="logged-in" href="/">Dashboard</a>
            <a class="logged-in" href="/">Account Settings</a>
            <a class="logged-in" href="/">Logout</a>
          </ul>
        </nav>
      </header>
      <main class="content">